*{
    box-sizing: border-box;
}

body{
    margin: 0;

}

form {
    background-color: #fff;
    max-width: fit-content;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.submit-bar{
    text-align: right;
}

.submit-bar ol{
    list-style: none;
    display: inline-flex;
}

.submit-bar ol li{
    background-color: cadetblue;
    margin: 5px;
    padding: 5px;
    border-color: black;
    border-radius: 3px;
}

.submit-bar ol li a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.menu-bar{
    background-color: rgb(153, 89, 166);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: black;
}

.menu-bar ul li:hover{
    background-color: rgb(124, 31, 145);
    border-radius: 3px;
}

.menu-bar .fa{
    margin-right: 8px;
}

.sub-menu-about{
    display: none;
}

.menu-bar ul li:hover .sub-menu-about{
    display: block;
    position: absolute;
    background-color: cadetblue;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-about ul{
    display: block;
    margin: 10px
}

.menu-bar ul li:hover .sub-menu-about ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-about ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-about ul li a:hover{
    color:aqua;
}

.title {
    text-align: center;
    /*font-family: */
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 4rem;
    color: black
}

h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: black
}

h3 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: black
}

.homePage {
    text-align: center;
    padding-top: 50px;
}

.aboutUsPage {
    text-align: center;
    margin: 25px;
    padding-top: 25px;

}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control p{
    display:grid;
    text-align:justify;
}

.form-control label {
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
        }
        
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

