* {
    box-sizing: border-box;
  }
  body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color:#4b5153;
  }
  
  .wrapper {
    font-family: sans-serif;
    text-align: center;
  }
  
  .page {
    width: 100%;
    height: 100%;
  }


.logoPic img{
    display: inline;
    max-width: 50px;
    max-height: 50px;
    margin-right: 75px;
    margin-top: 5px;
    
  }
  
  .content {
    width: calc(100% - 50px);
    margin-left: auto;
    padding: 15px;
    height: 100%;
    word-break: break-word;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #2a363b;
    transition: width 0.3s ease;
    border-right: 1px #4d606e solid;
    padding-top: 15px;
  }
  
  .sidebar .sidebar-position {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 12px;
    text-align: left;
  }
  
  .sidebar .sidebar-position:hover {
    background-color: #3f5159;
    border-right: 5px #e84a5f solid;
  }
  
  .sidebar svg {
    color: #e84a5f;
    min-width: 25px;
  }
  
  .sidebar span {
    width: 0;
    height: 0;
    padding: 0 15px;
    transition: width 0.3s ease;
    color: #c9c9c9;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar-position span i{
    color: #e84a5f;
    margin: 10px;
  }

  .sidebar-position span a{
    color: #ffffff;
  }
  
  
  .sidebar--open {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .sidebar--open .sidebar-position span {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .trigger {
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px 15px;
  }
  
a i{
    color: #e84a5f;
}
#form2 {
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

form {
  background-color: #fff;
  max-width: fit-content;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/*profile page*/
.wrapperTwo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapperTwo .left{
  width: 35%;
  background: linear-gradient(to right,#9d1b55,#646c6c);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapperTwo .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapperTwo .left h4{
  margin-bottom: 10px;
}

.wrapperTwo .left p{
  font-size: 12px;
}

.wrapperTwo .right{
  width: 65%;
  background: #b1aeae;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapperTwo .right .info,
.wrapperTwo .right .projects{
  margin-bottom: 25px;
}

.wrapperTwo .right .info h3,
.wrapperTwo .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapperTwo .right .info_data,
.wrapperTwo .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapperTwo .right .info_data .data,
.wrapperTwo .right .projects_data .data{
  width: 45%;
}

.wrapperTwo .right .info_data .data h4,
.wrapperTwo .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapperTwo .right .info_data .data p,
.wrapperTwo .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #2c2d2d;
}

.wrapperTwo .social_media ul{
  display: flex;
}

.wrapperTwo .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapperTwo .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}

.editProfile {
  display: flex;
  margin-left: 340px;
}




.submit-bar{
    text-align: right;
}

.submit-bar ol{
    list-style: none;
    display: inline-flex;
}

.submit-bar ol li{
    background-color: cadetblue;
    margin: 5px;
    padding: 5px;
    border-color: black;
    border-radius: 3px;
}

.submit-bar ol li a{
    list-style: none;
    text-decoration: none;
    color: black;
}





.title {
    
    text-align: right;
    /*font-family: */
    background-color: rgb(62, 62, 68);
    padding-bottom: -10px;
}

h1 {
    display: inline;
    font-size: 1.5rem;
    margin-right: 10px;
    color: rgb(255, 255, 255)
}

h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: black
}

h3 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: black
}

.homePage {
    text-align: center;
    padding-top: 50px;
}

.aboutUsPage {
    text-align: center;
    margin: 25px;
    padding-top: 25px;

}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control p{
    display:grid;
    text-align:justify;
}

.form-control label {
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
        }
        
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

